

/********  NAVIGATION  *********/

.main-menu{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
}

.main-menu-bar{
    display:flex;
    padding: 1rem 3rem;
    border-bottom: solid 1px #b2b2b2;
    justify-content: space-between;
    
    
    
    
}

.main-nav-left,
.main-nav-right{
    display: flex;
    align-items: center;
    line-height: 0;
    
    
}

.main-nav-left{
    flex-grow: 1;
    padding-left: 1.12rem;
    border-left: solid 1px #b2b2b2;
    
}


.main-nav-item{
    text-decoration: none;
    color: #333333;
    font-size: 1rem;
    font-family: Helvetica;
    display: flex;
    align-items: center;
    padding: 1rem 1.12rem;
    margin: 0;
    line-height: 1.5rem;

}

.main-nav-item span{

    color: #333333;
}

.main-nav-right .main-nav-item{
    padding: 1rem 2rem;
    border-left: solid 1px #b2b2b2;
}

.main-nav-right .main-nav-item p{
    display:none;
}

.main-nav-right li:first-child .main-nav-item {
    border: 0px;
}

.flag{
    height: 1.5rem;
}

.logo,
.logo-link {
    height: 4rem;
    width: 4rem;
}

.logo-container{
    display: flex;
    margin-right: 2rem;
    
}
.inline-nav-item {
    display: none;
}

@media (max-width:1120px){

.main-menu-bar  {
    padding: 0;
    border: 0;
    margin: 0;
    flex-direction: column;
} 

.logo-container {
    display:flex;
    padding: 1rem 1rem;
    border-bottom: solid 1px #b2b2b2;
    justify-content: space-between;
    
    margin-right:0;
}   

.menu-toggle{
    display: none;
} 


.main-nav-left{
    flex-direction: column;
    padding:0;
}
.main-nav-right {
    flex-direction: row;
    padding:0;
}

.main-nav-left li,
.main-nav-right li{
    width: 100%;
    border-bottom: solid 1px #b2b2b2;
    
}

.main-nav-item{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.inline-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.65rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

.main-nav-right .main-nav-item {
    display:flex;
    flex-direction: column;
    padding: 2rem 2rem;
    background-color: #f2f2f2;
}

.main-nav-right .main-nav-item p{
    display:block;
    font-size: 0.65rem;
    font-weight: 600;
}

.main-nav-right li:last-child {
    display: none;
}

}

/********  GLOBAL STYLES  *********/
h1{
    font-family: georgia;
    font-size: 3rem;
    font-weight: 800;
    line-height: 4rem;
}
h2{
    font-family: georgia;
    font-size: 2rem;
    font-weight:800;
}
h3{
    font-size: 1.5rem;
    font-family: georgia;
    font-weight: 800;
}

h4{
    font-size: 1rem;
    font-family: helvetica;
    font-weight: 600;
}
hr{
    margin:0;
}

p{
    font-family: helvetica;
    line-height: 1.5rem;
}

.button{
    padding: 1.5rem 2.5rem;
    background-color: #014108;
    border-radius: 0.5rem;
    color: #ffffff;
    text-align: center;
    font-family: helvetica;
    font-weight:800;
    
}



/********  HERO SECTION  *********/
  
html,
body{
    height:100%;
}

.hero-section {
    display: flex;
    height: calc(100% - 13rem);
    margin: 6rem 1rem 1rem 1rem;
    padding: 3rem;
    max-height: 700px;
    min-height: 500px;
    background-color: #ffffff;
    
}

.hero-left {
    flex: 2; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    
    
}

.hero-right {
    flex: 3;
    background: url("../global/images/Hero-14.png") no-repeat center;
    background-size: contain;
    height: 100%;
    
    
    color: #66727c;
}
.hero-blurb{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.hero-header{
    width: 100%;
}

/********  PUBLICATIONS SECTION  *********/

.publications-section{
    padding: 5rem 0;
    background-color: #66727c;
    display: none;
}

/********  Varieties SECTION  *********/

.varieties-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #b2b2b2;
}

.product-column{
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    gap:2rem;
    border-right: 1px solid #b2b2b2;
}

.product-content-overview{

    
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 1rem;
    transition: 400ms ease-in-out;
    

    
}

.product-details{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 4rem auto 0;
    gap: 1rem;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
}

.product-image {
    width: 100%;
    max-width:250px;
}

.product-ingredients{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items:center;
}

.product-ingredients li{
    font-family: helvetica;
    color: #828282;
    text-align: center;
}

.line-break{
    width: 100%;
    padding: 1rem 0;
}

.product-price{
    font-size: 1rem;
    font-family: helvetica;
    font-weight: 400;
    color: #333333;
}
.product-description{
    font-size: .75rem;
    text-align: center;
    align-self: stretch;
}

.product-tagline{
    /* font-size: 1.25rem; */
    text-align:center;
    list-style: none;
}

.product-tagline li{
    margin-bottom: 1rem;
}
.product-tagline li:last-child{
    margin-bottom: 0;
}

.underline-button{
    font-family: helvetica;
    color: #000000;
}

.translate-up-one{  
    transform: translateY(-100%); 
}



.scroll-animation{
    position: relative;
    overflow: hidden;
    
}

/********  BLOG SECTION  *********/

.blog-section{
    padding: 4rem 4rem;
    background-color: #E9F3EA;
    
}
.blog-post{
    display: flex;
}
.blog-image{
    margin: 2rem;
    border-radius: 1rem;
    width: 50%;
    
}
.blog-content{
    justify-self: stretch;
    margin: 0 4rem;
}




